.nav {
    padding: 0.40rem;
    background-color: rgb(169, 194, 28);
    display: flex;
    gap:2rem;
    justify-content:right;
    align-items: center;
  }
  
  .links {
    display: flex;
    gap: 2rem; /* espaçamento entre os links */
  }
  
  .link {
    color: green;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.3s ease;
  }
  
  .link:hover {
    color: darkgreen;
  }
  